.tableContainer{
    width: 100%;
    }
.operationListContainer{
    width: 100%;
    padding:10px;
}
.operationListContainer h3{
    text-align: center;
}

.dataRow{
    font-size:12px;
    margin: auto;
    text-align: center;
}
.dataTitle{
    font-size:12px;
    text-align: center;
}
    
.btnContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(min-width:700px) {
    .dataRow{
        font-size:16px;

    }
    .dataTitle{
        font-size:16px;
    }
  
}